/* Estilos generales */
body {
  padding-top: 70px;
}

/* Imágenes de productos con efecto zoom suave */
.product-img {
  max-width: 100px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.product-img.hover {
  transform: scale(1.5);
}

.product-img.agotado {
  opacity: 0.5;
}

/* Estilos para el Panel de Administración */
#panel-admin {
  background-color: #b9bbbd;
  padding: 15px;
  border-bottom: 1px solid #dee2e6;
  margin-top: 7px;
}

#panel-admin h2 {
  margin-top: 0;
  margin-bottom: 15px;
  color: #212529;
}

#panel-admin button {
  margin-right: 5px;
}


/* Imagen preview en AdminProductoModal */
.preview-wrapper {
  position: relative;
  display: inline-block;
}

.preview-img {
  max-width: 100px;
  border: 1px solid #ccc;
  padding: 2px;
  border-radius: 4px;
}

.preview-remove {
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: white;
  border: 1px solid #ccc;
  color: red;
  border-radius: 50%;
  padding: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview-remove:hover {
  background-color: red;
  color: white;
}

/* Logo en la barra de navegación */
.navbar-brand img {
  max-height: 40px;
}
.toast-enter {
  opacity: 0;
  transform: translateX(100%);
  animation: toastIn 0.3s forwards;
}

.toast-exit {
  opacity: 1;
  transform: translateX(0%);
  animation: toastOut 0.5s forwards;
}

@keyframes toastIn {
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes toastOut {
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

@media (min-width: 576px) {
  .navbar-brand img {
    max-height: 50px;
  }
}

@media (min-width: 992px) {
  .navbar-brand img {
    max-height: 60px;
  }
}
